[submodule "transmission"]
	path = transmission
	url = https://github.com/albertrdixon/docker-transmission.git
[submodule "sickrage"]
	path = sickrage
	url = https://github.com/albertrdixon/docker-sickrage.git
[submodule "couchpotato"]
	path = couchpotato
	url = https://github.com/albertrdixon/docker-couchpotato.git
[submodule "plex"]
	path = plex
	url = https://github.com/albertrdixon/docker-plex.git
