[Unit]
Description=bittorrent sync
Documentation=https://btsync.org
Wants=docker.service network-online.target
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
TimeoutStartSec=20m
Restart=on-failure
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStartPre=-/bin/bash -c "/usr/bin/docker kill %p"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm -f %p"
ExecStartPre=/bin/bash -c "/usr/bin/docker pull quay.io/albertrdixon/btsync:latest"
ExecStart=/bin/bash -c \
  "/usr/bin/docker run -t --rm --name %p \
    --volume /data:/data \
    --volumes-from btsync-data \
    --port 3369:3369 \
    --port 3369:3369/udp \
    --env VIRTUAL_HOST=%p.$(hostname -d),%p \
    --env VIRTUAL_PORT=8888 \
    --env-file /etc/sysconfig/%p \
    quay.io/albertrdixon/btsync:latest docker-start"
ExecStop=/bin/bash -c "/usr/bin/docker stop %p"
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
