[Unit]
Description=CouchPotato Movie PVR
Documentation=https://couchpota.to/
Requires=docker.socket movie-downloads.service
After=docker.socket movie-downloads.service network-online.target

[Service]
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/%p/run
Environment=IMAGE_TAG=latest
Environment=TRAEFIK_RULE=Host:%p
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/bin/sh -c '/usr/bin/docker port %p-data || /usr/bin/docker create --name=%p-data --volume=/data busybox echo Data for CouchPotato'
ExecStartPre=/usr/bin/docker pull quay.io/albertrdixon/couchpotato:${IMAGE_TAG}
ExecStart=/usr/bin/docker run --rm --name=%p \
    --hostname=%p \
    --volumes-from=movie-downloads \
    --volumes-from=%p-data \
    --volume=/data/movies:/movies \
    --volume=/etc/timezone:/etc/timezone:ro \
    --volume=/etc/localtime:/etc/localtime:ro \
    --expose=5050 \
    --label=traefik.frontend.rule=${TRAEFIK_RULE} \
    --label=traefik.port=5050 \
    --label=traefik.frontend.entryPoints=http,https \
    --env-file /etc/sysconfig/%p/env \
    quay.io/albertrdixon/couchpotato:${IMAGE_TAG}
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
