[Unit]
Description=movie downloader
Documentation=https://couchpota.to/
Wants=docker.service network-online.target
After=docker.service movie-downloads.service network-online.target
Requires=docker.service movie-downloads.service couchpotato-transmission.service network-online.target

[Service]
TimeoutStartSec=20m
Restart=always
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
EnvironmentFile=-/etc/sysconfig/%p/run
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull quay.io/albertrdixon/couchpotato:latest"
ExecStart=/bin/bash -c \
  "/usr/bin/docker run --rm --name %p -t \
    --hostname %p \
    --volumes-from movie-downloads \
    --volumes-from %p-data \
    --volume /data/movies:/movies \
    --volume /etc/timezone:/etc/timezone:ro \
    --volume /etc/localtime:/etc/localtime:ro \
    --publish 5050:5050 \
    --env VIRTUAL_HOST=%p.$(hostname -d),%p \
    --env VIRTUAL_PORT=5050 \
    --env-file /etc/sysconfig/%p/env \
    $OPTIONS \
    quay.io/albertrdixon/couchpotato:latest"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
