[Unit]
Description=movie downloader
Documentation=https://couchpota.to/
Wants=docker.service network-online.target 
After=docker.service network-online.target
Before=couchpotato.service
Requires=docker.service network-online.target

[Service]
Type=oneshot
TimeoutStartSec=20m
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStart=/bin/bash -c \
  "/usr/bin/docker port %p || \
  /usr/bin/docker create --name %p \
    --entrypoint /bin/echo \
    --volume /data \
    quay.io/albertrdixon/couchpotato:latest 'Data for Couchpotato'"
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
