[Unit]
Description=torrent client for couchpotato with vpn
Documentation=https://github.com/albertrdixon/docker-transmission
Wants=docker.service couchpotato-transmission-data.service movie-downloads.service network-online.target
Requires=docker.service couchpotato-transmission-data.service movie-downloads.service network-online.target
After=docker.service couchpotato-transmission-data.service movie-downloads.service network-online.target

[Service]
TimeoutStartSec=20m
Restart=always
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull quay.io/albertrdixon/transmission:latest"
ExecStart=/bin/bash -c \
  "/usr/bin/docker run --rm --name %p -t \
    --volumes-from movie-downloads \
    --volumes-from couchpotato-transmission-data \
    --volume /etc/timezone:/etc/timezone:ro \
    --volume /etc/localtime:/etc/localtime:ro \
    --dns 209.222.18.222 --dns 209.222.18.218 \
    --cap-add MKNOD --cap-add NET_ADMIN \
    --expose 9091 --hostname %p \
    --label traefik.frontend.rule=Host:%p.$(hostname -d),%p \
    --label traefik.port=9091 \
    --env-file /etc/sysconfig/%p/env \
    quay.io/albertrdixon/transmission:latest"
ExecStop=/bin/bash -c "/usr/bin/docker stop %p"
ExecReload=/bin/bash -c "/usr/bin/docker restart %p"

[Install]
WantedBy=multi-user.target
