[Unit]
Description=Torrent client for couchpotato with vpn
Documentation=https://github.com/albertrdixon/docker-transmission
Requires=docker.socket tv-downloads.service
After=docker.socket tv-downloads.service

[Service]
Restart=always
Environment=IMAGE_TAG=latest
Environment=TRAEFIK_RULE=Host:%p
EnvironmentFile=-/etc/sysconfig/%p/run
ExecStartPre=/bin/mkdir -pv /opt/transmission/couchpotato
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/usr/bin/docker pull quay.io/albertrdixon/transmission:${IMAGE_TAG}
ExecStart=/usr/bin/docker run --rm --name=%p \
    --volume=movie-downloads:/downloads/movies \
    --volume=/opt/transmission/couchpotato:/transmission \
    --volume=/etc/timezone:/etc/timezone:ro \
    --volume=/etc/localtime:/etc/localtime:ro \
    --dns=209.222.18.222 --dns=209.222.18.218 \
    --cap-add=MKNOD --cap-add=NET_ADMIN \
    --expose=9091 --hostname=%p \
    --label=traefik.port=9091 \
    --label=traefik.frontend.rule=$TRAEFIK_RULE \
    --env-file=/etc/sysconfig/%p/env \
    quay.io/albertrdixon/transmission:${IMAGE_TAG}
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
