[Unit]
Description=couchpotato transmission data
Documentation=https://github.com/albertrdixon/docker-transmission
Requires=docker.service
After=docker.service
Before=couchpotato-transmission.service

[Service]
Type=oneshot
TimeoutStartSec=20m
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStartPre=/usr/bin/docker pull quay.io/albertrdixon/transmission:latest
ExecStart=/bin/bash -c \
  "/usr/bin/docker start %p || \
  /usr/bin/docker run --name %p \
    --entrypoint /bin/echo \
    --volume /transmission \
    quay.io/albertrdixon/transmission:latest 'Data for Couchpotato Transmission'"
SuccessExitStatus=0 1 2
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
