[Unit]
Description=traefik docker proxy
Wants=docker.service network-online.target
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
TimeoutStartSec=20m
Restart=on-failure
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull traefik:latest"
ExecStart=/bin/bash -c \
  "/usr/bin/docker run --rm --name %p -t \
    --volume /var/run/docker.sock:/var/run/docker.sock:ro \
    --publish 80:80 \
    --publish 443:443 \
    --publish 8888:8888 \
    traefik:latest \
     --docker --docker.domain=$(hostname -d) \
     --web --web.address=':8888' -l INFO"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
