[Unit]
Description=mongodb data
Documentation=https://www.mongodb.org/
Wants=docker.service network-online.target 
After=docker.service network-online.target
Before=mongodb.service
Requires=docker.service network-online.target

[Service]
Type=oneshot
TimeoutStartSec=20m
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull mongo:latest"
ExecStart=/bin/bash -c \
  "/usr/bin/docker create --name %p \
    --volume /data/db \
    --entrypoint /bin/echo \
    mongo:latest 'Data for MongoDB'"
SuccessExitStatus=0 1 2
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target