[Unit]
Description=Data volume for movie downloads
Requires=docker.socket
After=docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DRIVER=local
EnvironmentFile=-/etc/sysconfig/volumes/movies.env
ExecStart=/usr/bin/docker volume create movie-downloads --driver=${DRIVER} ${OPTS}

[Install]
WantedBy=multi-user.target
