[Unit]
Description=plexpy
Documentation=https://github.com/drzoidberg33/plexpy
Wants=docker.service network-online.target
Requires=docker.service plexpy-data.service plex-data.service network-online.target
After=docker.service plexpy-data.service plex-data.service network-online.target

[Service]
TimeoutStartSec=20m
Restart=always
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
Environment=TRAEFIK_RULE=Host:%p
EnvironmentFile=-/etc/sysconfig/%p/run
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/bin/bash -c \
  "/usr/bin/docker run --rm --name %p \
    --volumes-from plexpy-data \
    --volumes-from plex-data \
    --volume /etc/timezone:/etc/timezone:ro \
    --volume /etc/localtime:/etc/localtime:ro \
    --expose 8181 \
    --hostname %p \
    --label traefik.port=8181 \
    --label traefik.frontend.rule=$TRAEFIK_RULE \
    quay.io/albertrdixon/plexpy:latest"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
