[Unit]
Description=plex media server data
Documentation=https://plex.tv https://github.com/albertrdixon/docker-plex
Wants=docker.service network-online.target
After=docker.service network-online.target
Before=plex.service
Requires=docker.service network-online.target

[Service]
Type=oneshot
TimeoutStartSec=20m
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull albertdixon/plex:latest"
ExecStart=/bin/bash -c \
  "/usr/bin/docker start %p || \
  /usr/bin/docker run --name %p \
    --entrypoint /bin/echo \
    --volume /plexmediaserver \
    albertdixon/plex:latest 'Data for Plex Media Server'"
SuccessExitStatus=0 1 2
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
