[Unit]
Description=plex media server
Documentation=https://plex.tv https://github.com/albertrdixon/docker-plex
Wants=docker.service network-online.target
Requires=docker.service plex-data.service network-online.target
After=docker.service plex-data.service network-online.target

[Service]
TimeoutStartSec=20m
Restart=on-failure
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull quay.io/albertrdixon/plex:latest"
ExecStart=/bin/bash -c \
  "/usr/bin/docker run --rm --name %p -t \
    --volumes-from plex-data \
    --volume /data:/data \
    --volume /etc/timezone:/etc/timezone:ro \
    --volume /etc/localtime:/etc/localtime:ro \
    -p 32400:32400 -p 1900:1900/udp -p 3005:3005 \
    -p 5353:5353/udp -p 8324:8324 -p 32410:32410/udp \
    -p 32411:32411/udp -p 32412:32412/udp \
    -p 32413:32413/udp -p 32414:32414/udp \
    -p 32469:32469 --cap-add=NET_ADMIN \
    --cap-add=NET_BROADCAST --cap-add=NET_RAW \
    --dns 192.168.1.2 --net host \
    --env VIRTUAL_HOST=%p.$(hostname -d),%p \
    --env VIRTUAL_PORT=32400 \
    --env-file /etc/sysconfig/%p \
    quay.io/albertrdixon/plex:latest docker-start"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
