[Unit]
Description=sabnzb nzb downloader with vpn
Documentation=https://hub.docker.com/r/binhex/arch-sabnzbdvpn/
Wants=docker.service network-online.target
Requires=docker.service sabnzb-data.service movie-downloads.service tv-downloads.service network-online.target
After=docker.service sabnzb-data.service movie-downloads.service tv-downloads.service network-online.target

[Service]
TimeoutStartSec=20m
Restart=on-failure
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull albertdixon/arch-sabnzbdvpn"
ExecStart=/bin/bash -c \
  "/usr/bin/docker run --rm --name %p -t \
    --volumes-from %p-data \
    --volumes-from tv-downloads \
    --volumes-from movie-downloads \
    --volume /etc/localtime:/etc/localtime:ro \
    --env VPN_ENABLED=yes \
    --env VPN_PROV=pia \
    --env ENABLE_PRIVOXY=yes \
    --env-file /etc/sysconfig/%p/env \
    --expose 8118 \
    --label traefik.port=8118 \
    --label traefik.frontend.rule=Host:%p.$(hostname -d),%p \
    --cap-add=NET_ADMIN \
    albertdixon/arch-sabnzbdvpn"
ExecStop=/bin/bash -c "/usr/bin/docker stop %p"
ExecReload=/bin/bash -c "/usr/bin/docker restart %p"

[Install]
WantedBy=multi-user.target
