[Unit]
Description=SABnzbd with OpenVPN
Documentation=https://sabnzbd.org
Requires=docker.socket movie-downloads.service tv-downloads.service network-online.target
After=docker.socket movie-downloads.service tv-downloads.service network-online.target

[Service]
Environment=IMAGE_TAG=latest
Environment=TRAEFIK_RULE=Host:%p
EnvironmentFile=-/etc/sysconfig/%p/run
ExecStartPre=/bin/mkdir -pv /opt/%p
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/usr/bin/docker pull albertdixon/sabnzb:${IMAGE_TAG}
ExecStart=/usr/bin/docker run --rm --name=%p \
    --volume=tv-downloads:/downloads/tv_shows \
    --volume=movie-downloads:/downloads/movies \
    --volume=/opt/%p:/data \
    --volume=/etc/timezone:/etc/timezone:ro \
    --volume=/etc/localtime:/etc/localtime:ro \
    --cap-add=NET_ADMIN \
    --dns=209.222.18.222 --dns=209.222.18.218 \
    --label=traefik.port=8080 \
    --label=traefik.frontend.rule=${TRAEFIK_RULE} \
    --env-file=/etc/sysconfig/%p/env \
    albertdixon/sabnzb:${IMAGE_TAG}
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
