[Unit]
Description=tv show downloader
Documentation=https://www.sickrage.tv/ 
Wants=docker.service tv-downloads.service sickrage-transmission.service network-online.target
Requires=docker.service tv-downloads.service sickrage-transmission.service network-online.target
After=docker.service tv-downloads.service network-online.target

[Service]
TimeoutStartSec=20m
Restart=always
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
EnvironmentFile=-/etc/sysconfig/%p/run
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull quay.io/albertrdixon/sickrage:latest"
ExecStart=/bin/bash -c \
  "/usr/bin/docker run --rm --name %p \
    --hostname %p \
    --volumes-from tv-downloads \
    --volumes-from %p-data \
    --volume /data/tv_shows:/tv_shows \
    --volume /etc/timezone:/etc/timezone:ro \
    --volume /etc/localtime:/etc/localtime:ro \
    --expose 8081 \
    --label traefik.port=8081 \
    --label traefik.frontend.rule=Host:%p.$(hostname -d),%p \
    --env-file /etc/sysconfig/%p/env \
    $OPTIONS \
    quay.io/albertrdixon/sickrage:latest"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
