[Unit]
Description=sickrage transmission data
Documentation=https://github.com/albertrdixon/docker-transmission
Wants=docker.service network-online.target
After=docker.service network-online.target
Requires=docker.service network-online.target
Before=sickrage-transmission.service

[Service]
Type=oneshot
TimeoutStartSec=20m
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull quay.io/albertrdixon/transmission:latest"
ExecStart=/bin/bash -c \
  "/usr/bin/docker start %p || \
  /usr/bin/docker run --name %p \
    --entrypoint /bin/echo \
    --volume /transmission \
    quay.io/albertrdixon/transmission:latest 'Data for Sickrage Transmission'"
SuccessExitStatus=0 1 2
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=media-ingest.target
