[Unit]
Description=tv show downloader
Documentation=https://www.sickrage.tv/ 
Wants=docker.service tv-downloads.service sickrage-transmission.service network-online.target
Requires=docker.service tv-downloads.service sickrage-transmission.service network-online.target
After=docker.service tv-downloads.service network-online.target

[Service]
TimeoutStartSec=20m
Restart=on-failure
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/bin/bash -c "/usr/bin/docker pull quay.io/albertrdixon/sickrage:latest"
ExecStart=/bin/bash -c \
  "/usr/bin/docker run --rm --name %p -t \
    --hostname %p \
    --volumes-from tv-downloads \
    --volumes-from %p-data \
    --volume /data/tv_shows:/tv_shows \
    --volume /etc/timezone:/etc/timezone:ro \
    --volume /etc/localtime:/etc/localtime:ro \
    --publish 8081:8081 \
    --env VIRTUAL_HOST=%p.$(hostname -d) \
    --env VIRTUAL_POST=8081 \
    --env-file /etc/sysconfig/%p \
    quay.io/albertrdixon/sickrage:latest docker-start"
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
