[Unit]
Description=Sonarr PVR agent
Documentation=https://sonarr.tv/
Requires=docker.socket tv-downloads.service
After=docker.socket tv-downloads.service

[Service]
Restart=always
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=%p
Environment=TRAEFIK_RULE=Host:%p
Environment=SONARR_TAG=latest
EnvironmentFile=-/etc/sysconfig/%p/run
ExecStartPre=/bin/mkdir -pv /opt/%p /opt/media
ExecStartPre=/bin/chown 777 /opt/media
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/usr/bin/docker run --rm --name=%p \
  --hostname=%p \
  --volume=/opt/%p:/config \
  --volume=/opt/media:/downloads/media \
  --volume=tv-downloads:/downloads/tv_shows \
  --volume=/dev/rtc:/dev/rtc:ro \
  --volume=/etc/timezone:/etc/timezone:ro \
  --volume=/etc/localtime:/etc/localtime:ro \
  --volume=/data/tv_shows:/tv \
  --expose=8989 \
  --label=traefik.port=8989 \
  --label=traefik.frontend.rule=${TRAEFIK_RULE} \
  --env-file=/etc/sysconfig/%p/env \
  linuxserver/sonarr:${SONARR_TAG}
ExecStop=/usr/bin/docker stop %p
ExecReload=/usr/bin/docker restart %p

[Install]
WantedBy=multi-user.target
