[Unit]
Description=torrent client for sickrage with vpn
Documentation=https://github.com/albertrdixon/docker-transmission
Requires=docker.socket tv-downloads.service vpn-client.service
After=docker.socket tv-downloads.service vpn-client.service

[Service]
Restart=always
Environment=IMAGE_TAG=latest
Environment=TRAEFIK_RULE=Host:%p
EnvironmentFile=-/etc/sysconfig/%p/run
ExecStartPre=/bin/mkdir -pv /opt/transmission/sickrage
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/usr/bin/docker pull quay.io/albertrdixon/transmission:${IMAGE_TAG}
ExecStart=/usr/bin/docker run --rm --name=%p \
    --volume=tv-downloads:/downloads/tv_shows \
    --volume=/opt/transmission/sickrage:/transmission \
    --volume=/etc/timezone:/etc/timezone:ro \
    --volume=/etc/localtime:/etc/localtime:ro \
    --net=container:vpn-client \
    --env-file=/etc/sysconfig/%p/env \
    quay.io/albertrdixon/transmission:${IMAGE_TAG}
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
