[Unit]
Description=Data volume for tv downloads
Requires=docker.socket
After=docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DRIVER=local
EnvironmentFile=-/etc/sysconfig/volumes/tv.env
ExecStart=/usr/bin/docker volume create --driver=${DRIVER} ${OPTS} tv-downloads

[Install]
WantedBy=multi-user.target
